<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gran Bazar</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,300;1,400&family=Rubik:ital,wght@0,300;0,400;1,300;1,400&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"rel="stylesheet" />
    <meta name="Viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
    <header class="header">
        <div class="header-top-bar">
            <div class="logo-barra"><a href="/"><img class="logo" src="/img/logo-transparente.png" width="360" alt="logo de Bazar" ></a>
            <div class="search-bar">
                <form action="search">
                <input type="text" name="search" class="form-search" placeholder="Buscar productos">
                </form>
                <div><i class="fas fa-search"></i></div>
            </div></div>
            
        <nav class="main-navbar">
            <ul class="left-navbar" >
                <li><a href="/productos">Categoria1</a></li>
                <li><a href="/productos">Categoria2</a></li>
                <li><a href="/productos">Categoria3</a></li>   
            </ul>
            <ul class="right-navbar">
                <li><a href="/login">Usuario <i class="fas fa-user"></i></a></li>
                <li><a href="#">Favorito <i class="fas fa-heart"></i></a></li>
                <li><a href="/cart">Carrito <i class="fas fa-shopping-cart"></i></a></li>
            </ul>
        </nav>
        </div>    
        <div class="burger-menu">
            <i class="fa fa-bars burger"></i>
        </div>
        
        </header>

        <main>
            <h3 class="addedit">CREAR NUEVO PRODUCTO</h3>
    <form action="/crearproducto" method="POST" enctype="multipart/form-data" class="add-edit">
    
    <div class="form-control">
        <label for="">Nombre</label>
        <input type="text" name="productname" required>
    </div>
    <div class="form-control">
        <label for="">Categorias</label>
        <div class="checkbox"> 
            <label for="muebles" class="check"><input type="checkbox" name="muebles" id="muebles" value="Muebles"class="check">Muebles</label>
        </div>
        <div class="checkbox"> 
            <label for="decoracion" class="check" ><input type="checkbox" name="decoracion" id="decoracion" value="Decoracion"class="check">Decoración</label>
        </div>
        <div class="checkbox"> 
            <label for="viaje"class="check"><input type="checkbox" name="viaje" id="viaje" value="Viaje"class="check">Viaje</label>
        </div>
        <div class="checkbox"> 
            <label for="uso-personal"class="check"><input type="checkbox" name="uso-personal" id="uso-personal" value="Uso personal"class="check">Uso personal</label>
        </div>
    
        <div class="form-control">
            <label for="">Selecciona las imagenes para tu producto</label>
            <input type="file" name="pictures" accept=".png, .jpg, .jpeg" multiple required>
            <span class="imgs">Solo acepta .png, .jpg, .jpeg</span>
        </div>
        <div class="form-control descripcion" >
        <label for="descripcion">Descripcion del producto</label>
        <textarea class="text-description" name="text-description" id="text-description"> </textarea>
        </div>
        <div class="form-control">
            <label for="">Medidas:</label>
            <input type="text" name="medidas" placeholder="en cms">
        </div>
        <div class="form-control">
            <label for="">Color</label>
            <select name="color" id="color">
                <option value="white">Blanco</option>
                <option value="black">Negro</option>
                <option value="blue">Azul</option>
                <option value="yellow">Amarillo</option>
                <option value="green">Verde</option>
                <option value="orange">Naranja</option>
                <option value="red">Rojo</option>
                <option value="pink">Rosa</option>
                <option value="purple">Violeta</option>
                <option value="gold">Dorado</option>
            </select>
        </div>
        <div class="form-control">
            <label for="">Material</label>
            <input type="text" name="material" class="material">
        </div>
        <div class="form-control">
            <label for="">Pais de origen</label>
            <input type="text" name="origin" class="origin">
        </div>
        <div class="buttons">
        <a href="#"><button type="submit" class="enviar">AGREGAR</button></a>
        <button type="reset" class="borrar">BORRAR</button> </div>
    </div>  
    
    </form>
    
    
    
    
       </main>


        <footer>
            <div class="footer">
            <article class="pie-de-pagina">
                <div class="logo-footer"><a href="/"><img src="/img/logo-claro.png" alt="" class=".rot90"></a></div>
            
                <article class="sub-titulo">
                    <div class="enlaces-1">Links de interés</div>
                    <ul class="enlaces">
                        <li><a href="/">Inicio</a></li>
                        <li><a href="#">Categorias</a></li>
                        <li><a href="#">Sobre Nosotros</a></li>
                        
                        </ul>
                
                </article>        
                <article class="sub-titulo"  >
                    <div class="enlaces-2">Contactanos</div> 
                        <ul class="enlaces">
                        <li><a href="#">Envianos un correo</a></li>
                        <li><a href="#">Por teléfono</a></li>
                        <li>Calle Nombre Calle NumeroAltura, Buenos Aires</li>
                        </ul>
                
                </article>
                <article class="iconos">
                    <section class="de-iconos" >
                    <div>Seguinos en nuestras Redes Sociales</div>
                     
                        <ul>
                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fab fa-whatsapp"></i></a></li>
                </ul>
                    </section>
                </article>
            </div>   
               <div class="copy">
                    <section class="de-copy">    
                        <div>Copyright&copy; 2021 Gran Bazar</div>
                    </section> 
                </div>
            
        </footer>
       
    </body>
    </html>



