<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gran Bazar</title>
    <link rel = "preconnect" href = "https://fonts.googleapis.com">
    <link rel = "preconnect" href = "https://fonts.gstatic.com" crossorigin>
    <link href = "https: //fonts.googleapis.com/css2? family = Roboto: ital @ 1 & display = swap "rel =" stylesheet ">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"rel="stylesheet" />
    <meta name="Viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    <header class="header">
        <div class="header-top-bar">
            <img class="logo" src="/img/logo-transparente.png" width="360" alt="logo de Bazar" >
            <p></p><div class="search-bar" ></div><i class="fas fa-search"></i></p>    
            </div>
        <nav class="main-navbar">
            <ul class="left-navbar" >
                <li><a href="#">Categoria1</a></li>
                <li><a href="#">Categoria2</a></li>
                <li><a href="#">Categoria3</a></li>   
            </ul>
            <ul class="right-navbar">
                <li><a href="#">Usuario <i class="fas fa-user"></i></a></li>
                <li><a href="#">Favorito <i class="fas fa-heart"></i></a></li>
                <li><a href="#">Carrito <i class="fas fa-shopping-basket" ></i></a></li>
            </ul>
        </nav>
        </div>    
        <div class="burger-menu">
            <i class="fa fa-bars burger"></i>
        </div>
        
        </header>
    <section class="banner">
        <img src="/img/velas-banner.jpg" alt="banner de muestra">
     </section>

    <main>
        <section class="visita">
            <h3>Tus Ultimas Visitas</h3>
        <div class="productos">
            <article class="producto">
            <img src="/img/taza.jpg" width="360" alt="taza" class="producto_img">
            <div class="main-article">
                <p class="precio">$2500</p>
                <p class="descuento">20% off</p>
                <h4 class="descripcion">taza de porcelana</h4>   
            </div>
                </article>
           
                <article class="producto">
                <img src="/img/taza.jpg" width="360" alt="taza" class="producto_img">
                <div class="main-article">
                    <p class="precio">$2500</p>
                    <p class="descuento">20% off</p>
                    <h4 class="descripcion">taza de porcelana</h4>   
                </div>
                </article>
               
                    <article class="producto">
                    <img src="/img/taza.jpg" width="360" alt="taza" class="producto_img">
                    <div class="main-article">
                        <p class="precio">$2500</p>
                        <p class="descuento">20% off</p>
                        <h4 class="descripcion">taza de porcelana</h4>   
                    </div>
                    </article>
                    
                        <article class="producto">
                        <img src="/img/taza.jpg" width="360" alt="taza" class="producto_img">
                        <div class="main-article">
                            <p class="precio">$2500</p>
                            <p class="descuento">20% off</p>
                            <h4 class="descripcion">taza de porcelana</h4>   
                        </div>
                        </article>
                        
                            <article class="producto">
                            <img src="/img/taza.jpg" width="360" alt="taza" class="producto_img">
                            <div class="main-article">
                                <p class="precio">$2500</p>
                                <p class="descuento">20% off</p>
                                <h4 class="descripcion">taza de porcelana</h4>   
                            </div>
                            </article>
                            
                                <article class="producto">
                                <img src="/img/taza.jpg" width="360" alt="taza" class="producto_img">
                                <div class="main-article">
                                    <p class="precio">$2500</p>
                                    <p class="descuento">20% off</p>
                                    <h4 class="descripcion">taza de porcelana</h4>   
                                </div>
                                </article>       
        </div> 
        </section>
   </main>
    <footer>
        <article class="pie-de-pagina">
            <article class="sub-titulo">
                <div class="titulo">caracteristica1</div>
            </article>        
            <article class="sub-titulo"  >
                <div class="titulo">caracteristica2</div> 
            </article>
            <article class="iconos">
                <section class="de-iconos" > 
                    <i class="fab fa-instagram"></i>
                </section >
                <section class="de-iconos" >
                    <i class="fab fa-facebook"></i>
                </section>
                <section class="de-iconos" >
                <i class="fab fa-whatsapp"></i>
                </section>
            </article>
                
           <article class="copy">
                <section class="de-copy">    
                    <div>Copyright&copy;1999-2021 MercadoLiebre S.R.L.</div>
                </section> 
            </article>
        </article>

    </footer>
   
</body>
</html>