
.cuerpo {
    margin-top: 160px;
}
/* Dar Formato a la palabra categoria*/
.linea-producto p {
    font-size: 20px;
    color: #3D405B;
    font-weight: bolder;
}
/*Sacarle estilos a la lista del menu lateral*/
.menu-productos li {   
    list-style-type: none;
}

/*Agregando distancia del inicio/producto al banner */
main section h3 {
    margin-bottom: 20px;
}

/*Agregando distancia de la palabra categorias a inicio*/
.linea-producto {
    margin-bottom: 25px;
}

/*ocultar el menu lateral cuando la pagina es chica*/
.menu-lateral {
    display: none;
}
div.formularios{
    color: #3D405B;
}
div.formularios a {
    color: #E07A5F;
}
/*Sacar estilo al menu lateral links*/
.menu-productos a {
    text-decoration: none;
    color:#3D405B;
    
}

/*Dar espacio entre los items del menu lateral*/
.menu-productos li {
    margin-bottom: 5px;
    
}
.specs{
    display: none;
}
article.product{
    display: flex;
justify-content: center;
}
/*Reglas para pantallas superiores a 769px*/
@media (min-width:769px) {
    /*ocultar la palabra de la categoria
    .categoria {
        display: none;
    }*/
    /*mostrar el menu lateral y darle formato*/
    article.product{
        display: flex;
    justify-content: space-between;
    }

    .specs {
        display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    line-height: 24px;
    }
    .menu-lateral {
        display: block;
        padding: 2px;
        width: 20%;
    }
    /*mostrar el menu lateral y las imagens en horizontal*/
    .menu-imagenes {
        display: flex;
    }
    
}