<!DOCTYPE html>
<html lang="en">
    <%- include ('partials/head') %> 
<body>
    <%- include('partials/header')  %> 


    <main class="cuerpo">
        <section class="visita">
            <h3>Producto/<strong>Linea</strong></h3>
        </section>
    
    <div class="imagen-compra">   
       
            <div class="imagen-datos">        
                <div class="productos-compra">
                
                    <article class="producto-compra">
                    <div class="foto1">
                        <a href="/productodetalle">
                    <img src="/img/taza.jpg" width="360" alt="taza" class="producto_img">
                    </div></a>
                    </article>
            
                    <article class="producto-compra">
                    <div class="foto2">
                        <a href="/productodetalle">
                    <img src="/img/taza.jpg" width="360" alt="taza" class="producto_img">
                    </div></a>
                    </article>

                </div>
            </div>
        
            <div class="compra">
                <div>
                    <p class="titulo-articulo">TAZA</p>
                </div>
                <div>
                    <p class="precio-articulo">$ XXXXX</p>
                </div>
                <div class="linea">
                    <p class="descripcion-articulo-titulo">Descripcion</p> 
                    <p class="descripcion-articulo">Linda Taza de color verde</p>
                </div>
                <div class="linea">
                    <p class="descripcion-medidas-titulo">Medidas</p>
                    <p class="descripcion-medidas">350ml</p>
                </div>
                <div class="linea">
                    <p class="descripcion-material-titulo">Material</p>
                    <p class="descripcion-material">Ceramica</p>
                </div>

                <div class="botones">
                    <button type="submit" class="action-buttonedit">EDITAR </button>
                    <button type="submit" class="action-buttondelete">ELIMINAR</button>

                </div>
                <div class="boton">
                    <!-- <input type="button" value="AGREGAR AL CARRITO" class="boton-compra">
                    <p class="carrito"><i class="fas fa-shopping-cart"></i></p> -->
                    <button type="submit" class="boton-compra">AGREGAR AL CARRITO<i class="fas fa-shopping-cart"></i></button>
                    <button type="submit" class="boton-compra2"><i class="fas fa-shopping-cart"></i></button>
                </div>
                
            </div> 
    </div>

        <section>
        <div>
            <section class="visita">
            <h3>Tambien te puede interesar</h3>
            </section>
             <div class="productos">   
                <article class="producto-interes">
                    <a href="/productodetalle">
                <img src="/img/taza.jpg" width="360" alt="taza" class="producto_img">
                <div class="main-article">
                    <p class="precio">$2500</p>
                    <p class="descuento">20% off</p>
                    <p class="descripcion">Taza de porcelana</p>   
                </div></a>
                </article>
                        
                <article class="producto-interes">
                    <a href="/productodetalle">
                <img src="/img/taza.jpg" width="360" alt="taza" class="producto_img">
                <div class="main-article">
                    <p class="precio">$2500</p>
                    <p class="descuento">20% off</p>
                    <p class="descripcion">Taza de porcelana</p>    
                </div></a>
                </article>
                            
                <article class="producto-interes">
                    <a href="/productodetalle">
                <img src="/img/taza.jpg" width="360" alt="taza" class="producto_img">
                <div class="main-article">
                    <p class="precio">$2500</p>
                    <p class="descuento">20% off</p>
                    <p class="descripcion">Taza de porcelana</p>    
                </div></a>
                </article>
                                
                <article class="producto-interes">
                    <a href="/productodetalle">
                    <img src="/img/taza.jpg" width="360" alt="taza" class="producto_img">
                    <div class="main-article">
                        <p class="precio">$2500</p>
                        <p class="descuento">20% off</p>
                        <p class="descripcion">Taza de porcelana</p>    
                    </div></a>
                </article>
             </div>       
            </div> 
            </section>
       

   </main>
   <%- include('partials/footer')  %> 
   
</body>
</html>