<!DOCTYPE html>
<html lang="en">
<%- include ('partials/head') %> 
<body>
    <%- include('partials/header')  %> 
    <main class="cuerpo">
        
        <section class="visita">
            <h3>LISTADO DE PRODUCTOS</h3>
        </section>
    
        <div class="menu-imagenes"> 
            <section class="menu-lateral">
                <div class="linea-producto">
                    <p>Categorias</p>
                </div>
                <div>
                    <ul class="menu-productos">
                        <li><a href="./products">Muebles</a></li>
                        <li><a href="./products">Decoracion</a></li>
                        <li><a href="./products">Uso personal</a></li>
                        <li><a href="./products">Viajes</a></li>
                        
                    </ul>
                </div>
            </section>
            <section class="visita">
                
                <div class="products">
                
                    <article class="product">
                    <a href="./products/detail" class="unit-product"></a>
                    <img src="/img/taza.jpg" width="360" alt="taza" class="producto_img">
                    <div class="specs">
                        <div>Nombre: NOMBRE DEL PRODUCTO</div>
                        <div>Categoria: CATEGORIA</div>  
                        <div>Medidas: MEDIDAS</div>
                        <div>Color: COLOR</div>
                        <div>Material: MATERIAL</div>
                        <div>Origen: ORIGEN</div>
                    </div>
                       
                        
                
                    
                </section>
    
                
            </div>
            </section>

            
        </div>
        
   </main>
   <%- include('partials/footer')  %> 
   
</body>
</html>

