<!DOCTYPE html>
<html lang="en">
    <%- include ('partials/head') %> 
<body>
    <%- include('partials/header')  %> 

        <main>
        <div class="crea">CREA TU CUENTA</div>
        <p class="login">Ya tenes cuenta? ¡Ingresa <a class="register-here" href="/users/login">aquí</a>!</p>
            
            <form action="/register" method="POST" class="register">
                
                <div class="form-control">
                    <label for="">Nombre</label>
                    <input type="text" name="name">
                </div>
                <div class="form-control">
                    <label for="">Apellido</label>
                    <input type="text" name="lastname">
                </div>

                <div class="form-control">
                    <label for="">Email</label>
                    <input type="email" name="email">
                </div>

                <div class="form-control">
                    <label for="">Fecha de nacimiento</label>
                    <input type="date" name="dob">
                </div>
                
                <div class="form-control">
                    <label for="image">Imagen de perfil</label>
                    <input type="file" name="avatar" accept=".png, .jpg, .jpeg" >
                    <span class="imgs">Solo acepta .png, .jpg, .jpeg</span>
                </div>
                
                <div class="form-control">
                    <label for="">Contraseña</label>
                    <input type="password" name="password" placeholder="Debe contener 8 caracteres y un numero">
                </div>

                <div class="form-control">
                    <label for="">Repetir Contraseña</label>
                    <input type="password" name="repassword">
                </div>

                <div class="buttons">
                <a href="#"><button type="submit" class="enviar">Registrate</button></a>
                <button type="reset" class="borrar">Borrar</button></div>
            </form>
        </main>


        <%- include('partials/footer')  %> 
       
    </body>
    </html>