<!DOCTYPE html>
<html lang="en">
    <%- include ('partials/head') %> 
<body>
    <%- include('partials/header')  %> 

        <main class="userprof"> 
            <h3 class="username">Hola NOMBRE DE USUARIO</h3>
            <form action="">    
                <div class="img-data"><img src="/public/img/img-default.jpeg" alt="avatar de usuario">
                    <div class="form-control">
                        <label for="image">Imagen de perfil</label>
                        <input type="file" name="avatar" accept=".png, .jpg, .jpeg" >
                    </div>
                <div class="user-info">
                   
                    <div class="form-control">
                    <label for="">Nombre</label>
                    <input type="text" name="name">
                    </div>
            
                    <div class="form-control">
                    <label for="">Apellido</label>
                    <input type="text" name="lastname">
                    </div>

                    <div class="form-control">
                    <label for="">Email</label>
                    <input type="email" name="email">
                     </div>

                    <div class="form-control">
                    <label for="">Fecha de nacimiento</label>
                    <input type="date" name="dob">
                    </div>
                
                    <div class="form-control">
                    <label for="image">Imagen de perfil</label>
                    <input type="file" name="avatar" accept=".png, .jpg, .jpeg" >
                    </div>
                
                     <div class="form-control">
                    <label for="">Contraseña</label>
                    <input type="password" name="password">
                    </div>
                    <button type="submit" class="enviar">EDITAR</button>
                    </form>

            <h3 class="miscompras">Mis compras</h3>

            <table class="mis-compras">
				<thead class="encabezado">
					
                    <td>Nombre</td>
					<td>Precio</td>
					
					
				</thead>
				<tbody>
					
						<tr>
							
							<td>PRODUCTO</td>
                            <td>precio</td>
							<td class="botones-list">
									<button class="volver-a-comprar">Volver a comprar</button>
								</form>
							</td>
						</tr>
					
				</tbody>

			</table>


            
                
                
                
                
                
                
        </main>


        <%- include('partials/footer')  %> 
       
    </body>
    </html>